.image-link {
    cursor: pointer;
}

.wrap {
   overflow: hidden;
   margin: 10px;
   max-width: 2400px;
}
.box {
   float: left;
   position: relative;
   width: 16.667%;
   padding-bottom: 16.667%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 20px;
   overflow: hidden;
   max-width: 300px;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 0px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: left;
}
.pull-right {
  position: absolute;
  right: 1em;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
@media only screen and (max-width : 350px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   .boxInner .pull-right {
      display: none;
   }
}
@media only screen and (max-width : 650px) and (min-width : 351px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
   .boxInner .pull-right {
      display: none;
   }
}
@media only screen and (max-width : 1000px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1001px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}
@media only screen and (max-width : 1600px) and (min-width : 1291px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 20%;
      padding-bottom: 20%;
   }
}
