.wrap {
   overflow: hidden;
   margin: 10px;
   max-width: 2400px;
}
.box {
   float: left;
   position: relative;
   width: 33.33%;
   padding-bottom: 20%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 20px;
   overflow: hidden;
   max-width: 600px;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 0px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: left;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
@media only screen and (max-width : 250px) {
   .box {
      width: 100%;
      padding-bottom: 66.67%;
   }
   .boxInner .titleBox {
      display: none;
   }
}
@media only screen and (max-width : 350px) and (min-width : 251px) {
   .box {
      width: 100%;
      padding-bottom: 66.67%;
   }
   .boxInner span.pull-right {
      display: none;
   }
}
@media only screen and (max-width : 650px) and (min-width : 351px) {
   .box {
      width: 100%;
      padding-bottom: 66.67%;
   }
   .boxInner span.image-count {
      display: none;
   }
}
@media only screen and (max-width : 1200px) and (min-width : 651px) {
   .box {
      width: 50%;
      padding-bottom: 33.33%;
   }
   .boxInner span.image-count {
      display: none;
   }
}
}
