@font-face {
    font-family: 'Goudy Bookletter 1911';
    src: url(../font/goudy_bookletter_1911-webfont.woff);
}

body {
   /*margin: 0;
   padding: 0;*/
   background-color: #111; 
   background-image: url("../img/noise.png");
   font-family: 'Droid Sans', 'Helvetica', sans-serif;
   color: #ddd;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 24pt;
    font-family: 'Goudy Bookletter 1911', 'Droid Serif', serif;
}


a:link, a:visited {
    color: #bdf;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

.pull-right {
  position: absolute;
  right: 1em;
}
.pull-left {
  position: absolute;
  left: 1em;
}

.login-form {
  margin: auto;
}

.navigation, .login-form-container {
  font-size: 10pt;
}

#empty {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.boxInner:hover {
  -webkit-box-shadow: 0px 0px 24px -7px rgba(187,187,255,0.5);
  -moz-box-shadow: 0px 0px 24px -7px rgba(187,187,255,0.5);
  box-shadow: 0px 0px 24px -7px rgba(187,187,255,0.5);
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

.noscript {
  text-align: center;
  color: #fbb;
  font-size: 10pt;
}
