{% load staticfiles pipeline %}
<!doctype HTML>

<title>{{ gallery.title }} - Gallery</title>
{% stylesheet 'gallery' %}

<body>
<div class="wrap">
  <div class="navigation pull-left">
    <a href="{% url 'gallery_index' %}">&lt; Album Overview</a>
  </div>
  <div class="navigation pull-right">
    {% if not user.is_authenticated %}
    <a href="{% url 'auth_login' %}">Login</a>
    {% else %}
    {{ user.username }} | <a href="{% url 'auth_logout' %}">Logout</a>
    {% endif %}
  </div>

  <h1>{{ gallery.title }}</h1>
  <noscript>
    <div class="noscript">Please enable JavaScript to improve the gallery view.</div>
  </noscript>
  <hr/>
  {% if gallery_images %}
  {% for gi in gallery_images %}
  <div class="box">
    <div class="boxInner">
      <div class="image-link" onclick="openGallery({{ gi.index }})">
        <div class="titleBox">
          #{{ gi.index }}
          <span class="pull-right">{{ gi.image.date|date:"d.m.y H:i" }}</span>
        </div>
        <img src="{% url 'gallery_serve_image' gi.image.small_size.pk %}" />
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
    <div id="empty">There are no images in this gallery.</div>
  {% endif %}
</div>
<footer class="navigation">
  <hr/>
  <a href="https://mafiasi.de">Mafiasi Hub</a> |
  <a href="https://mafiasi.de/base/imprint">Impressum</a> |
  <a href="https://mafiasi.de/base/problems">Probleme?</a>
</footer>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader__active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
  GALLERY_ID = {{ gallery.pk }};
  API_GALLERY_DATA_URL = "{% url 'gallery_gallery_data' gallery.pk %}";
  API_SET_COVER_URL = "{% url 'gallery_gallery_cover' gallery.pk %}";
</script>
{% javascript 'libs' %}
{% javascript 'gallery' %}
</body>
