{% load staticfiles pipeline %}
<!doctype HTML>

<title>Album Overview - Gallery</title>
{% stylesheet 'index' %}

<body>
<div class="wrap">
  <div class="navigation pull-left">
    <a href="https://mafiasi.de">Mafiasi Hub</a>
  </div>
  <div class="navigation pull-right">
    {% if not user.is_authenticated %}
    <a href="{% url 'auth_login' %}">Login</a>
    {% else %}
    {{ user.username }} | <a href="{% url 'auth_logout' %}">Logout</a>
    {% endif %}
  </div>

  <h1>Album Overview</h1>
  <hr/>
  {% if galleries %}
  {% for gallery in galleries %}
  <div class="box">
    <div class="boxInner">
      <a href="{% url 'gallery_gallery' slug=gallery.slug gallery_pk=gallery.pk %}">
        <div class="titleBox">
          {{ gallery.title|truncatechars:25 }}
          <span class="pull-right"><span class="image-count">{{ gallery.image_count }} images, </span>{{ gallery.date|date:"d.m.Y" }}</span>
        </div>
        <img src="{% url 'gallery_serve_image' gallery.cover_image.album_cover_size.pk %}" />
      </a>
    </div>
  </div>
  {% endfor %}
  {% else %}
    <div id="empty">There are currently no galleries shared with you.</div>
  {% endif %}
</div>
<footer class="navigation">
  <hr/>
  <a href="https://mafiasi.de/base/imprint">Impressum</a> |
  <a href="https://mafiasi.de/base/problems">Probleme?</a>
</footer>
</body>
