{% load staticfiles pipeline %}
<!doctype HTML>

<title>Login - Gallery</title>
{% stylesheet 'login' %}

<body>
<div class="wrap">
  <div class="navigation pull-left">
    <a href="{% url 'gallery_index' %}">&lt; Album Overview</a>
  </div>
  <h1>Login</h1>
  <hr/>
  <div class="login-form-container">
    <form action="/login/" method="POST">
      {% csrf_token %}
      <p>
        <label for="id_username">Username</label><br>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password</label><br>
        {{ form.password }}
      </p>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
<footer class="navigation">
  <hr/>
  <a href="https://mafiasi.de">Mafiasi Hub</a> |
  <a href="https://mafiasi.de/base/imprint">Impressum</a> |
  <a href="https://mafiasi.de/base/problems">Probleme?</a>
</footer>
</body>
